<section id="cover">
    <section>
        <h2>Internet de las Cosas con Raspberry Pi</h2>
        <h5>Jornadas de Robótica Educativa</h5>
        <hr />
        <h5><a href="https://migueabellan.github.io">Miguel Ángel Abellán</a></h5>
        <p>Facultad de Informática, Universidad de Murcia</p>
        <br />
        <br>
        <div class="row">
            <div class="col">
                <img width="200px" src="images/logo-programoergosum.png" alt="Programo Srgo Sum" />
            </div>
        </div>
    </section>
</section>